@font-face {
    font-family: "Lato-Regular";
    src: url("./assets/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./assets/Lato-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("./assets/Lato-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
}

html {
    font-size: 10px;
}

/*PORTFOLIO*/

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.portfolio__container {
    background-color: #2d303a;
    color: white;
    padding: 66px 40px 47px 40px;
    border-bottom: 6px #323746 solid;
}

.portfolio__header_head {
    padding-bottom: 31px;
    font-size: 3.0rem;
    line-height: 24px;
    color: #666d89;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 700;
    text-align: justify;
    letter-spacing: -0.01em;
}

.portfolio__header_text {
    font-size: 1.8rem;
    line-height: 16px;
    color: #767e9e;
    font-family: "Lato-Light", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.portfolio__list {
    display: flex;
    justify-content: start;
    padding-left: 0;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 1px;
}

.portfolio__list li {
    list-style-type: none;
    padding-right: 10px;
}

.portfolio__list_button {
    font-size: 1.2rem;
    line-height: 9px;
    color: #767e9e;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.03em;
}

.portfolio__list_button {
    background-color: #2d303a;
    padding: 6px 6px 5px 6px;
    border-radius: 5px;
    border: 1px #666d89 solid;
    cursor: pointer;
}

.portfolio__list_button:hover {
    border: 1px #c5c5c5 solid;
    color: #c5c5c5;
}

.portfolio__list :nth-child(2) button {
    padding-right: 6px;
    letter-spacing: -0.01em;
}

.portfolio__list :nth-child(3) button {
    padding-right: 5px;
    padding-left: 5px;
    letter-spacing: -0.01em;
}

.portfolio__list :nth-child(4) button {
    padding-right: 6px;
    letter-spacing: -0.03em;
    padding-left: 5px;
}

.portfolio__images {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__images div {
    height: 187px;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.portfolio__images div img {
    position: absolute;
}

.portfolio__images :nth-child(4n) {
    margin-right: 0;
}

.image1 img {
    top: -11px;
    left: -8px;
}

.image2 img {
    top: -43px;
    left: -82px;
}

.image3 img {
    top: -1px;
    left: -11px;
}

.image4 img {
    top: -2px;
    left: -24px;
}

.image5 img {
    top: -16px;
    left: -10px;
}

.image6 img {
    top: -4px;
    left: -16px;
}

.image7 img {
    top: -39px;
    left: -31px;
}

.image8 img {
    top: -32px;
    left: -24px;
}

.image9 img {
    top: -2px;
    left: -16px;
}

.image10 img {
    top: -113px;
    left: -141px;
}

.image11 img {
    top: -175px;
    left: -144px;
}

.image12 img {
    top: -60px;
    left: -36px;
}

/*ABOUT US*/

.about-us__container {
    background-color: #f2f2f2;
    padding: 66px 40px 65px 40px;
    border-bottom: 6px #ffffff solid;
}

.about-us__header_head {
    padding-bottom: 25px;
    font-size: 3.0rem;
    line-height: 23px;
    color: #666d89;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: justify;
}

.about-us__header_text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.about-us__header {
    padding-bottom: 45px;
}

.about-us__people {
    display: flex;
    justify-content: space-between;
}

.about-us__people :nth-child(2) {
    padding-right: 2px;
}

.human {
    width: 300px;
}

.human h2 {
    margin-left: -1px;
    letter-spacing: -0.01em;
    padding-bottom: 12px;
    font-size: 1.8rem;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
}

.human p {
    padding-bottom: 23px;
    font-size: 1.2rem;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.social {
    display: flex;
    justify-content: flex-start;
}

.social img {
    padding-right: 6px;
}

.social :nth-child(2) {
    padding-right: 6px;
}

.human div {
    padding-bottom: 16px;
}
