@font-face {
    font-family: "Lato-Regular";
    src: url("./assets/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./assets/Lato-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("./assets/Lato-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 34px 40px 33px 40px;
    background-color: #2d303a;
    border-bottom: 6px #323746 solid;
    color: white;
}

.logo-container {
    display: flex;
}

.logo-container h1 {
    font-family: "Lato-Bold", "Helvetica", sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 700;
    text-align: justify;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.logo-container h1 span {
    color: #f06c64;
    line-height: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation li {
    color: white;
    font-size: 1.2rem;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
    text-decoration: none;
    line-height: 9px;
    letter-spacing: -0.02em;
}

.navigation li:hover {
    color: #f06c64;
}

.navigation li {
    margin-left: 30px;
    position: relative;
    list-style-type: none;
}

.navigation li+li::before {
    position: absolute;
    bottom: 3px;
    left: -16px;
    content: ".";
    color: #494e62;
}

/*HAMBURGER*/

.hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: 20px;
}

.hamburger::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2.4px;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}

.hamburger.active-burger::before {
    transform: rotate(90deg);
    left: -50%;
    top: 50%;
}

.hamburger.active-burger::after {
    transform: rotate(90deg);
    left: 50%;
    top: 50%;
}

.hamburger::after {
    content: "";
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2.4px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}

.hamburger-line {
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2.4px;
    width: 100%;
    top: calc(50% - 1.5px);
    transition: all 0.3s ease 0s;
}

.hamburger-line.active-burger {
    transform: rotate(90deg);
    left: 0;
    top: 50%;
}

/*Intaractive Menu*/

.navigation li a.active {
    color: #f06c64;
    font-size: 1.4rem;
}

/*END Intaractive Menu*/

/*SLIDER*/

.slider {
    margin-top: 93px;
}

.slider-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slider2 {
    padding: 53px 111px 58px 112px;
    position: relative;
    background-color: #648BF0;
    border-bottom: 6px rgb(73, 114, 219) solid;
}

.slider1 {
    padding: 53px 111px 58px 112px;
    position: relative;
    background-color: #f06c64;
    border-bottom: 6px #ea676b solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Slider*/

@keyframes bobble1 {
    0% {
        transform: translate3d(-1020px, 0px, 0px);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
    }
}

@keyframes bobble2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(1020px, 0px, 0px);
        animation-timing-function: linear;
    }
}

@keyframes bobble3 {
    0% {
        transform: translate3d(0, 0px, 0px);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(-1020px, 0px, 0px);
        animation-timing-function: linear;
    }
}

@keyframes bobble4 {
    0% {
        transform: translate3d(1020px, 0px, 0px);
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
    }
}

div.animation1 {
    animation: bobble1 1s forwards;
}

div.animation2 {
    animation: bobble2 1s forwards;
}

div.animation3 {
    animation: bobble3 1s forwards;
}

div.animation4 {
    animation: bobble4 1s forwards;
}

/*END Slider*/

/*Disconnecting Phones*/

.black-vertical {
    position: absolute;
    left: 4.5%;
    top: 13.5%;
}

.black-horizontal {
    position: absolute;
    left: 12.4%;
    top: 5.6%;
}

.block {
    display: none;
}

/*END Disconnecting Phones*/

.vertical {
    padding-right: 73px;
    position: relative;
}

.horizontal {
    position: relative;
}

.vertical-phone_home-button {
    position: absolute;
    top: 84%;
    left: 27%;
}

.horizontal-phone_home-button {
    position: absolute;
    top: 34.7%;
    left: 1.5%;
}

.phone-button:hover {
    cursor: pointer;
}

.horizontal-phone {
    padding-bottom: 1px;
}

.left-arrow {
    padding: 0;
    border: 0;
    background-color: rgb(240, 108, 100);
    position: absolute;
    top: 47%;
    left: 4%;
    z-index: 10;
    background-size: cover;
}

.left-arrow:focus {
    outline: none;
}

.right-arrow {
    padding: 0;
    border: 0;
    background-color: #f06c64;
    position: absolute;
    right: 4%;
    top: 47%;
    background-size: cover;
}

.right-arrow:focus {
    outline: none;
}

.right-arrow {
    background-image: url(./assets/img/arrow-right.png);
    width: 16px;
    height: 27px;
}

.slider-bg {
    background-color: #648BF0;
}

.right-arrow:hover {
    background-image: url(./assets/img/arrow-right-hover.png);
    cursor: pointer;
    transform: scale(1.1);
}

.left-arrow {
    background-image: url(./assets/img/arrow-left.png);
    width: 16px;
    height: 27px;
}

.left-arrow:hover {
    background-image: url(./assets/img/arrow-left-hover.png);
    cursor: pointer;
    transform: scale(1.1);
}

/*SERVICES*/

.services-container {
    background-color: #f2f2f2;
    border-bottom: 6px #ffffff solid;
}

.services__header {
    padding: 66px 40px 46px 40px;
}

.services__header h2 {
    font-family: "Lato-Bold", "Helvetica", sans-serif;
    font-size: 3.0em;
    line-height: 23px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    margin-bottom: 24px;
}

.services__header p {
    font-family: "Lato-Light", "Helvetica", sans-serif;
    font-size: 1.8em;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.services__descriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 41px 29px 41px;
    padding: 0;
}

.services__descriptions li {
    list-style-type: none;
}

.services__description__item {
    width: 32%;
    margin: 0 0 30px 0;
}

.services__description__item::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.services__description__item h3 {
    font-family: "Lato-Bold", "Helvetica", sans-serif;
    font-size: 1.8em;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: justify;
    padding-bottom: 9px;
}

.services__description__item p {
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-size: 1.2em;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    max-height: 66px;
}

.services__descriptions img {
    float: left;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 60px;
    height: 60px;
}

.services__descriptions :nth-child(3) img {
    padding-right: 22px;
}

.services__descriptions :nth-child(6) img {
    padding-right: 22px;
}

/*PORTFOLIO*/

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.portfolio__container {
    background-color: #2d303a;
    color: white;
    padding: 66px 20px 47px 40px;
    border-bottom: 6px #323746 solid;
}

.portfolio__header_head {
    margin-bottom: 31px;
    font-size: 3.0rem;
    line-height: 24px;
    color: #666d89;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 700;
    text-align: justify;
    letter-spacing: -0.01em;
}

.portfolio__header_text {
    font-size: 1.8rem;
    line-height: 16px;
    color: #767e9e;
    font-family: "Lato-Light", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.portfolio__list {
    display: flex;
    justify-content: start;
    margin: 17px 0 19px 1px;
    padding: 0;
}

.portfolio__list li {
    list-style-type: none;
    margin-right: 10px;
}

.portfolio__list_button {
    font-size: 1.2rem;
    line-height: 8px;
    color: #767e9e;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.03em;
}

.portfolio__list_button {
    background-color: #2d303a;
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
    border: 1px #666d89 solid;
    cursor: pointer;
}

.portfolio__list_button:hover {
    border: 1px #c5c5c5 solid;
    color: #c5c5c5;
    transform: scale(1.1);
}

/*PORTFOLIO BUTTONS ACTIVE*/

.portfolio__list_button-active {
    border: 1px #c5c5c5 solid;
    color: #c5c5c5;
    font-size: 1.4rem;
}

/*END PORTFOLIO BUTTONS ACTIVE*/

.portfolio__list_button-active:focus {
    outline: none;
}

.portfolio__list :nth-child(2) button {
    padding-right: 6px;
    letter-spacing: -0.01em;
}

.portfolio__list :nth-child(3) button {
    padding-right: 5px;
    padding-left: 5px;
    letter-spacing: -0.01em;
}

.portfolio__list :nth-child(4) button {
    padding-right: 5px;
    letter-spacing: -0.03em;
    padding-left: 5px;
}

.portfolio__images {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__img::before {
    content: '';
    float: left;
    padding-top: 85%;
}

.portfolio__img {
    width: 22.8%;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.portfolio__img:hover {
    transform: scale(1.015);
    cursor: pointer;
}

.portfolio__img img {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*PORTFOLIO-IMAGES*/

.image-active {
    border: 5px inset #F06C64;
}

/*END PORTFOLIO-IMAGES*/

/*ABOUT US*/

.about-us__container {
    background-color: #f2f2f2;
    padding: 66px 40px 50px 40px;
    border-bottom: 6px #ffffff solid;
}

.about-us__header_head {
    margin-bottom: 25px;
    font-size: 3.0rem;
    line-height: 23px;
    color: #666d89;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: justify;
    letter-spacing: -0.01em;
}

.about-us__header_text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Light", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.about-us__header {
    margin-bottom: 45px;
}

.about-us__people {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.desmond-miles {
    margin-right: 2px;
}

.human {
    width: 32%;
}

.human div {
    margin-bottom: 16px;
    max-width: 300px;
}

.human div img {
    max-width: 100%;
}

.human h2 {
    margin: 0 0 12px -1px;
    font-size: 1.8rem;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
}

.human p {
    margin-bottom: 22px;
    font-size: 1.2rem;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.social {
    display: flex;
    justify-content: flex-start;
}

.social a {
    margin-right: 6px;
    background-size: cover;
}

.scolara-visari .social {
    margin-left: -1px;
}

.facebook {
    width: 34px;
    height: 34px;
    background-image: url(./assets/img/Facebook.png);
    background-repeat: no-repeat;
}

.facebook:hover {
    background-image: url(./assets/img/Facebook_active.svg);
}

.google {
    width: 34px;
    height: 34px;
    background-image: url(./assets/img/Google.png);
    background-repeat: no-repeat;
}

.google:hover {
    background-image: url(./assets/img/Google_active.svg);
}

.twitter {
    width: 34px;
    height: 34px;
    background-image: url(./assets/img/Twitter.png);
    background-repeat: no-repeat;
}

.twitter:hover {
    background-image: url(./assets/img/Twitter_active.svg);
}

.linked-in {
    width: 34px;
    height: 34px;
    background-image: url(./assets/img/LinkedIn.png);
    background-repeat: no-repeat;
}

.linked-in:hover {
    background-image: url(./assets/img/LinkedIn_active.svg);
}

/*GET A QOUTE*/

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.get-a-quote__container {
    background-color: #f06c64;
    color: white;
    padding: 64px 40px 25px 40px;
    border-bottom: 6px #ea676b solid;
}

.get-a-quote__text {
    margin-bottom: 44px;
}

.get-a-quote__text_header {
    margin-bottom: 23px;
    font-size: 3.0rem;
    line-height: 26px;
    color: #f0d8d9;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: justify;
    letter-spacing: -0.007em;
}

.get-a-quote__text_main-text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato-Light", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
}

.get-a-quote__forms-contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form input, textarea {
    padding: 0;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
    font-size: 1.2rem;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: justify;
    text-indent: 15px;
}

.form input::placeholder {
    color: #f48c8f;
}

.form textarea::placeholder {
    color: #f48c8f;
}

.form #project-description {
    height: 195px;
    padding-top: 7px;
    text-indent: 15px;
}

.form .form_submit {
    width: 75px;
    height: 35px;
    text-indent: initial;
    border: 1px solid #982c2c;
    margin-bottom: 0;
}

.form .form_submit:hover {
    cursor: pointer;
}

.forms {
    margin-right: 21px;
    width: 280%;
}

#submit {
    border: 0;
    border-radius: 5px;
    background: #d6564f;
    color: #f0d8d9;
}

#submit:focus {
    outline: none;
}

#submit:hover {
    transform: scale(1.08);
}

/*MESSAGE-BLOCK*/

#message-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 100;
}

.hidden-block {
    display: none;
}

#message {
    background: rgba(226, 153, 156, 0.5);
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-size: 1.4rem;
    color: #f0d8d9;
    text-align: center;
    padding: 3px 5px;
}

#close-button {
    padding: 3px 5px;
    font-size: 2rem;
    border: 0;
    border-radius: 5px;
    background: rgba(156, 46, 50, 0.4);
    color: #f0d8d9;
}

#close-button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

#close-button:focus {
    outline: none;
}

/*END MESSAGE-BLOCK*/

.contact-info__header {
    font-size: 1.8rem;
    line-height: 19px;
    color: #f0d8d9;
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: justify;
    letter-spacing: -0.007em;
    margin-bottom: 9px;
}

.contact-info p {
    font-size: 1.2rem;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 25px;
    word-spacing: -0.1em;
    letter-spacing: -0.01em;
}

.contact-info a {
    display: block;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 12px;
    line-height: 11px;
    color: #f0d8d9;
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: justify;
    padding-left: 23px;
    background-position: center left;
}

.contact-info .location {
    background-image: url(./assets/img/location.png);
    margin-left: 3px;
    padding-left: 20px;
    margin-bottom: 11px;
}

.contact-info .phone {
    background-image: url(./assets/img/phone-small.png);
    margin-top: -1px;
    margin-left: 1px;
    margin-bottom: 11px;
    padding-left: 22px;
}

.contact-info .mail {
    background-image: url(./assets/img/mail.png);
    margin-top: 2px;
    background-position: bottom left;
}

.contact-info .location:hover {
    background-image: url(./assets/img/location-active.png);
}

.contact-info .phone:hover {
    background-image: url(./assets/img/phone-active.png);
}

.contact-info .mail:hover {
    background-image: url(./assets/img/mail-active.png);
}

/*FOOTER*/

.footer__container {
    background-color: #2d303a;
    color: white;
    padding: 21px 40px 22px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 300;
    text-align: justify;
    margin: 0px 0px 2px 1px;
    font-size: 1.2rem;
    color: #626984;
    letter-spacing: -0.01em;
}

.footer__container_social {
    display: flex;
    justify-content: flex-start;
}

.footer__container_social a {
    padding-right: 8px;
}

.footer__container_social .facebook {
    width: 32px;
    height: 34px;
    background-image: url(./assets/img/Facebook.png);
    background-repeat: no-repeat;
}

.footer__container_social .facebook:hover {
    background-image: url(./assets/img/Facebook_active.svg);
}

.footer__container_social .google {
    width: 32px;
    height: 34px;
    background-image: url(./assets/img/Google.png);
    background-repeat: no-repeat;
}

.footer__container_social .google:hover {
    background-image: url(./assets/img/Google_active.svg);
}

.footer__container_social .twitter {
    width: 32px;
    height: 34px;
    background-image: url(./assets/img/Twitter.png);
    background-repeat: no-repeat;
}

.footer__container_social .twitter:hover {
    background-image: url(./assets/img/Twitter_active.svg);
}

.footer__container_social .linked-in {
    width: 33px;
    height: 34px;
    background-image: url(./assets/img/LinkedIn.png);
    background-repeat: no-repeat;
    padding-right: 0;
}

.footer__container_social .linked-in:hover {
    background-image: url(./assets/img/LinkedIn_active.svg);
}

@media (max-width: 1019px) {
    /*HEADER*/
    .header-container {
        padding: 29px 40px 35px 40px;
    }
    /*SLIDER*/
    .slider {
        margin-top: 90px;
    }
    /*SERVICES*/
    .services__header {
        padding: 40px 40px 28px 40px;
    }
    .services__header h2 {
        margin-bottom: 18px;
    }
    .services__descriptions {
        justify-content: space-between;
        margin-right: 74px;
        margin: 0 74px 24px 41px;
    }
    .services__description__item {
        margin-bottom: 40px;
        margin-right: 0;
    }
    .services__description__item {
        width: 42%;
    }
    /*PORTFOLIO*/
    .portfolio__img {
        width: 31.6%;
        height: auto;
        margin-right: 0;
    }
    .portfolio__container {
        padding: 59px 41px 45px 40px;
    }
    .portfolio__header_head {
        margin-bottom: 14px;
    }
    .portfolio__list {
        display: flex;
        justify-content: start;
        margin: 12px 0 28px 1px;
        padding: 0;
    }
    .portfolio__images {
        justify-content: space-between;
    }
    /*ABOUT US*/
    .about-us__container {
        padding: 52px 40px 75px 40px;
    }
    .about-us__header_head {
        margin-bottom: 14px;
    }
    .about-us__header {
        margin-bottom: 28px;
    }
    .human div {
        margin-bottom: 12px;
    }
    .human h2 {
        margin-bottom: 5px;
    }
    .human p {
        margin-bottom: 5px;
    }
    .human .social {
        margin-bottom: 0;
    }
    /*GET A QUOTE*/
    .get-a-quote__container {
        padding: 53px 37px 25px 40px;
    }
    .get-a-quote__text_header {
        margin-bottom: 14px;
    }
    .get-a-quote__text {
        margin-bottom: 19px;
    }
    .form input, textarea {
        margin-bottom: 12px;
    }
    .forms {
        margin-right: 29px;
    }
}

@media (max-width: 768px) {
    /*HEADER*/
    .header {
        width: 768px;
    }
    /*SLIDER*/
    .slider1 {
        padding: 41px 84px 43px 84px;
    }
    .vertical-phone {
        width: 180px;
        height: 364px;
    }
    .horizontal-phone {
        width: 364px;
        height: 180px;
    }
    .vertical {
        padding-right: 56px;
    }
    .left-arrow {
        left: 4%;
    }
    .right-arrow {
        right: 4%;
    }
    .vertical-phone_home-button {
        width: 31px;
        height: 31px;
        top: 306px;
        left: 65px;
    }
    .horizontal-phone_home-button {
        width: 31px;
        height: 31px;
        top: 66px;
        left: 8px;
    }
    .black-vertical {
        left: 4.3%;
        top: 13.2%;
    }
    .black-vertical img {
        width: 143px;
    }
    .black-horizontal {
        left: 45px;
        top: 10px;
        height: 142px;
        width: 250px;
    }
    .slider2 img {
        width: 546px;
        height: 342px;
    }
    /*PORTFOLIO*/
    .portfolio__img {
        height: 183px;
        width: 216px;
    }
    /*ABOUT US*/
    .human {
        width: 219px;
    }
    .human div img {
        height: 219px;
        width: 219px;
    }
    .social a {
        margin-right: 8px;
    }
    /*GET A QUOTE*/
    .get-a-quote__container {
        padding: 64px 39px 25px 37px;
    }
    .forms {
        margin-right: 29px;
    }
    .form input, textarea {
        width: 442px;
    }
}

@media (max-width: 767px) {
    .header {
        width: 100%;
    }
    .logo-container {
        width: 100%;
    }
    .logo {
        margin: 0 auto;
        transition: all 0.3s ease 0s;
    }
    .logo.active-burger {
        margin-left: 29px;
    }
    .header__navigation {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.4);
        z-index: 5;
        transition: all 0.1s ease 0s;
    }
    .header__navigation.active-burger {
        left: 0;
    }
    .navigation {
        position: fixed;
        flex-direction: column;
        left: calc(-100% - 71px);
        padding-left: 0;
        height: 100%;
        width: 55%;
        background-color: #2D303A;
        top: 0;
        justify-content: start;
        padding: 232px 0 0 71px;
        transition: all 0.3s ease 0s;
    }
    .navigation.active-burger {
        left: 0;
    }
    .navigation li {
        padding-bottom: 27px;
        font-size: 2.4rem;
        line-height: 29px;
        letter-spacing: -0.035em;
        margin: 0;
        width: auto;
    }
    .navigation li+li::before {
        content: none;
    }
    .header-container {
        padding: 26px 20px 25px 20px;
        ;
    }
    .hamburger {
        display: inline-block;
        z-index: 10;
    }
    .logo {
        align-self: center;
        z-index: 10;
    }
    .slider {
        margin-top: 77px;
    }
    .navigation li a.active {
        color: #f06c64;
        font-size: 2.6rem;
    }
    /*SERVICES*/
    .services__description__item {
        width: 100%;
    }
    .services__header {
        padding: 25px 29px 25px 32px;
    }
    .services__header h2 {
        margin-bottom: 18px;
    }
    .services__descriptions {
        margin: 0 43px 0 32px;
    }
    .services__description__item {
        margin-bottom: 16px;
    }
    .services__description__item h3 {
        padding-bottom: 7px;
    }
    /*PORTFOLID*/
    .portfolio__header {
        padding-right: 13px;
    }
    .portfolio__container {
        padding: 42px 30px 28px 30px;
    }
    .portfolio__header_head {
        margin-bottom: 14px;
    }
    .portfolio__list {
        display: flex;
        justify-content: start;
        margin: 10px 0 25px 1px;
    }
    .portfolio__img {
        width: 48.7%;
        height: auto;
        margin-bottom: 14px;
        margin-right: 0;
    }
    .image-active {
        border: 2px solid #F06C64;
        width: 44%;
    }
    .image9, .image10, .image11, .image12 {
        display: none;
    }
    /*ABOUT US*/
    .about-us__container {
        padding: 33px 30px 11px 30px;
    }
    .about-us__header {
        margin-bottom: 14px;
    }
    .human {
        width: 314px;
    }
    .human div {
        margin-bottom: 18px;
    }
    .human div img {
        width: 100%;
        height: 100%;
    }
    .human p {
        margin-bottom: 9px;
    }
    .social a {
        width: 32px;
        height: 32px;
    }
    .human .social {
        margin-bottom: 34px;
    }
    .human {
        width: 100%;
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    /*GET A QUOTE*/
    .get-a-quote__container {
        padding: 44px 30px 38px 30px;
    }
    .get-a-quote__text {
        margin-bottom: 19px;
    }
    .get-a-quote__forms-contact-info {
        flex-wrap: wrap;
    }
    .forms {
        width: 100%;
    }
    .get-a-quote__text_header {
        margin-bottom: 14px;
    }
    .form .form_submit {
        width: 100%;
    }
    .form input, textarea {
        margin-bottom: 12px;
    }
    .forms {
        margin-right: 0;
        margin-bottom: 32px;
    }
    .contact-info__header {
        margin-bottom: 5px;
    }
    .contact-info p {
        margin-bottom: 5px;
    }
    .contact-info a {
        margin-bottom: 4px;
    }
    .form input, textarea {
        width: 100%;
    }
    .copyright {
        display: none;
    }
    .footer__container_social {
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .header {
        width: 375px;
    }
    .vertical-phone {
        width: 88px;
        height: 177px;
    }
    .horizontal-phone {
        width: 177px;
        height: 88px;
    }
    .slider1 {
        padding: 20px 43px 20px 41px;
    }
    .vertical {
        padding-right: 26px;
    }
    .left-arrow {
        top: 41%;
        left: 3%;
        width: 14px;
        height: 24px;
        background-size: cover;
    }
    .right-arrow {
        top: 41%;
        right: 3%;
        width: 14px;
        height: 24px;
        background-size: cover;
    }
    .vertical-phone_home-button {
        width: 15px;
        height: 15px;
        top: 149px;
        left: 32px;
    }
    .horizontal-phone_home-button {
        width: 15px;
        height: 15px;
        top: 33px;
        left: 4px;
    }
    .black-vertical {
        left: 4.3%;
        top: 13.2%;
    }
    .black-vertical img {
        width: 70px;
    }
    .black-horizontal {
        left: 12%;
        top: 5%;
        height: 69px;
        width: 123px;
    }
    .slider2 {
        padding: 20px 42px 20px 41px;
    }
    .slider2 img {
        width: 292px;
        height: 177px;
    }
    /*OUR SERVICES*/
    /*portfolio*/
    .portfolio__img {
        height: 128px;
        width: 151px;
        margin-bottom: 14px;
        margin-right: 13px;
    }
    .portfolio__images :nth-child(3n) {
        margin-right: 13px;
    }
    .portfolio__images :nth-child(even) {
        margin-right: 0;
    }
    .image-active {
        border: 2px solid #F06C64;
        height: 123px;
        width: 146px;
    }
    /*ABOUT US*/
    .human {
        width: 314px;
    }
    .human div img {
        height: 314px;
        width: 314px;
    }
    .human div {
        margin-bottom: 18px;
    }
    .human p {
        margin-bottom: 9px;
    }
    .social a {
        width: 32px;
        height: 32px;
    }
    .human .social {
        margin-bottom: 34px;
    }
    /*GET A QUOTE*/
    .get-a-quote__container {
        padding: 44px 30px 38px 30px;
    }
    .get-a-quote__text {
        margin-bottom: 19px;
    }
    .get-a-quote__forms-contact-info {
        flex-wrap: wrap;
    }
    .form input, textarea {
        width: 315px;
    }
    .get-a-quote__text_header {
        margin-bottom: 14px;
    }
    .form .form_submit {
        width: 315px;
    }
    .form input, textarea {
        margin-bottom: 12px;
    }
    .forms {
        margin-right: 0;
        margin-bottom: 32px;
    }
    .contact-info__header {
        margin-bottom: 5px;
    }
    .contact-info p {
        margin-bottom: 5px;
    }
    .contact-info a {
        margin-bottom: 4px;
    }
    /*FOOTER*/
}

@media (max-width: 374px) {
    .header {
        width: 100%;
    }
    /*SERVICES*/
    .services__description__item {
        width: 100%;
    }
    .services__header {
        padding: 25px 29px 25px 32px;
    }
    .services__header h2 {
        margin-bottom: 18px;
    }
    .services__descriptions {
        margin: 0 43px 0 32px;
    }
    /*PORTFOLID*/
    .portfolio__header {
        padding-right: 13px;
    }
    .portfolio__container {
        padding: 42px 17px 28px 30px;
    }
    .portfolio__header_head {
        margin-bottom: 14px;
    }
    .portfolio__list {
        display: flex;
        justify-content: start;
        margin: 10px 0 25px 1px;
    }
    .portfolio__img {
        width: 46%;
        height: auto;
        margin-bottom: 14px;
        margin-right: 13px;
    }
    .image-active {
        border: 2px solid #F06C64;
        width: 44%;
    }
    /*ABOUT US*/
    .about-us__container {
        padding: 33px 30px 11px 30px;
    }
    .about-us__header {
        margin-bottom: 14px;
    }
    .human {
        width: 314px;
    }
    .human div {
        margin-bottom: 18px;
    }
    .human div img {
        width: 100%;
        height: 100%;
    }
    .human p {
        margin-bottom: 9px;
    }
    .social a {
        width: 32px;
        height: 32px;
    }
    .human .social {
        margin-bottom: 34px;
    }
    .human {
        width: 100%;
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    /*GET A QUOTE*/
    .get-a-quote__container {
        padding: 44px 30px 38px 30px;
    }
    .get-a-quote__text {
        margin-bottom: 19px;
    }
    .get-a-quote__forms-contact-info {
        flex-wrap: wrap;
    }
    .forms {
        width: 100%;
    }
    .get-a-quote__text_header {
        margin-bottom: 14px;
    }
    .form .form_submit {
        width: 100%;
    }
    .form input, textarea {
        margin-bottom: 12px;
    }
    .forms {
        margin-right: 0;
        margin-bottom: 32px;
    }
    .contact-info__header {
        margin-bottom: 5px;
    }
    .contact-info p {
        margin-bottom: 5px;
    }
    .contact-info a {
        margin-bottom: 4px;
    }
    .form input, textarea {
        width: 100%;
    }
}
